HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
.gitignore

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

.git

# Local .terraform directories
**/.terraform/*
**/.terraform.*

# .tfstate files
*.tfstate
*.tfstate.*

# Compiled files
*.tfstate.backup
*.tfstate.lock.info

# logs
*.log

# Directories
.terraform/
.vagrant/
credential.txt
stminikube.sh
Part4_Kubernetes/Chapter05/ssh-key/id_rsa
Part4_Kubernetes/Chapter05/ssh-key/id_rsa.pub
Part4_Kubernetes/Chapter05/gitops-repository/management/argo-cd/scripts/id_ecdsa
.gitignore
Part4_Kubernetes/Chapter05/gitops-repository/management/argo-cd/scripts/id_ecdsa.pub
